/* @override 
	http://127.0.0.1:8000/css/site.css */

body {
    margin:  1in;
    margin-top: 6ex;
    font-family: Palatino, serif;
    font-size: 140%;
}

#title {
    font-size: 150%;
    font-weight: bold;
    padding-bottom: 1ex;
}

#header {
    border-bottom: 1px solid #333;
}

#header, #footer {
    text-align: center;
}

#menu {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-variant: small-caps;
}

#menu ul {
    list-style: none;
}

#menu li {
    display: inline-block;
    padding-right: 1em;
}

.article {
    margin: 2em;
}

.article-title {
    font-size: 120%;
    font-weight: bold;
}

.article-date {
    float: right;
    padding-right: 1em;
}

.article-content {
    margin: 2em;
    margin-top: 1.5em;
    margin-right: 3em;
    line-height: 3ex;
    text-align: justify;
}

#footer {
    border-top: 1px solid #333;
    font-style: italic;
    padding-top: 2ex;
    text-align: right;
}

blockquote {
	font-family: Palatino, serif;
	font-style: italic;
}

pre {
    margin: 2em;
}

code {
    font-family: Palatino, serif;
}

#navlinks {
	margin: 1em;
}

#navlinkolder {
	float:  right;
}