/* @override 
    http://127.0.0.1:8000/css/site.css
    http://johnwiegley.com/css/site.css */

@media screen {

body {
    background-color: rgba(252, 238, 209, 0.71);
    background-image: url(/images/beige-paper.png);
}

#container {
    margin: 1in;
    margin-top: 6ex;
    padding: 1em;
    padding-top: 5ex;
    font-family: Palatino, serif;
    font-size: 130%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.22);
}

#title {
    font-size: 160%;
    font-weight: bold;
    padding-bottom: 2ex;
}

#header {
    border-bottom: 1px solid #333;
}

#header, #footer {
    text-align: center;
}

#menu {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-variant: small-caps;
}

#menu ul {
    list-style: none;
}

#menu li {
    display: inline-block;
    padding-right: 1em;
}

.article {
    margin: 2em;
}

.article-title {
    font-size: 120%;
    font-weight: bold;
}

.article-date {
    float: right;
    padding-right: 1em;
}

.article-content {
    margin: 2em;
    margin-top: 1.5em;
    margin-right: 3em;
    line-height: 3ex;
    text-align: justify;
}

.teaser {
    margin: 2em;
    margin-top: 2em;
    margin-bottom:  1.5em;
    border-bottom: 1px solid #ccc;
}

.teaser-title {
    font-size: 120%;
    font-weight: bold;
}

.teaser-date {
    float: right;
    padding-right: 1em;
}

.teaser-body {
    margin: 2em;
    margin-top: 1.5em;
    margin-right: 3em;
    margin-bottom:1em;
    line-height: 3ex;
    text-align: justify;
}

#archive-list {
    margin: 2em;
}

.archive {
    margin-bottom: 1ex;
}

.archive-title {
    font-size: 100%;
}

.archive-title a {
    color: blue; 
    text-decoration: none;
}

.archive-date {
    float: right;
    padding-right: 1em;
}

.archive-date a {
    color: black; 
    text-decoration: none;
}

#comments {
    border-top: 1px solid #333;
    padding-top:  2ex;
}

#footer {
    border-top: 1px solid #333;
    font-style: italic;
    padding-top: 2ex;
    text-align: left;
}

#subscribe {
    float:  right;
}

blockquote {
    font-family: Palatino, serif;
    font-style: italic;
}

pre {
    margin: 2em;
}

code {
    font-family: Palatino, serif;
}

#navlinks {
    margin: 1em;
}

#navlinkolder {
    float:  right;
}

}

@media print {

#title {
    display:  None;
    font-size: 160%;
    font-weight: bold;
    padding-bottom: 2ex;
}

.article-title {
    font-size: 150%;
    font-weight: bold;
}

.article-date {
    padding-bottom: 1em;
}

.article-content {
    margin: 2em;
    margin-top: 1.5em;
    margin-right: 3em;
    line-height: 3ex;
    text-align: justify;
}

pre {
    margin: 1em;
}

code {
    font-family: Palatino, serif;
}

#footer {
    margin: 2em;
}

#copyright {
    text-align: right;
}

#subscribe {
    display: none;
}

}

}
