<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-Control" content="max-age=86400, must-revalidate" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>$title$</title>

    <link rel="stylesheet" href="/blueprint-css/blueprint/screen.css"
          type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/blueprint-css/blueprint/print.css"
          type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/blueprint-css/blueprint/ie.css"
            type="text/css" media="screen, projection" />
    <![endif]-->
    <link rel="stylesheet"
          href="/blueprint-css/blueprint/plugins/fancy-type/screen.css"
          type="text/css" media="screen, projection" />

    <link rel="stylesheet" href="/css/site.css"
          type="text/css" media="screen, projection" />

    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-2890809-2, 'johnwiegley.com');
ga('send', 'pageview');
</script>

  </head>

  <body>
    <div class="container">

      <div id="titlebox" class="span-16 prepend-1 append-1">
        <p id="title" class="bottom">What Thoughts May Come</p>
      </div>
      <div id="author" class="span-6 last">by John Wiegley</div>
      <hr />

      <div class="span-16 prepend-1 colborder">$body$</div>

      <div class="span-6 last">
        <div id="search">
          <form method="get" id="sform" action="/search.html">
            <div class="searchimg"></div>
            <input type="text" id="q" value="" name="q" size="20" class="searchbox">
          </form>
        </div>

        <hr class="space" />

        <div class="block first">
          <div class="widget">
            <h2>More...</h2>
            <div class="menu-pages-container">
              <ul id="menu-pages" class="menu">
                <li><a href="/about-me/">About Me</a></li>
                <li><a href="/archives/">Archives</a></li>
                <li><a href="/subscribe-by-email/">Subscribe by email</a></li>
                <li><a href="http://feeds.feedburner.com/johnwiegley">Subscribe in a reader</a></li>
              </ul>
            </div>
          </div>
    
          <div class="widget">
            <br>
            <a href="/rss.xml" class="toplink" target="_blank"><img src="/images/rss.png"></a>
          </div>
        </div>
    
        <div class="block">
          <div class="widget">
            <h2>Recent Posts</h2>
            <ul>
              $recent$
              <li><a href="/blog/page/2/" class="readmore">more...</a></li>
            </ul>
          </div>
        </div>
    
        <div class="widget">
          <div class="textwidget">
            <small>Powered by <a href="http://jaspervdj.be/hakyll/index.html" class="links">Hakyll</a>.<br />Site source on <a href="http://github.com/jwiegley/johnwiegley" class="links">github</a>.</small>
          </div>
        </div>
    
      </div>
    </div>
  </body>
</html>
